<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - BOOKBYTE</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <style>
        body {
            background-image: url('https://shoppiko.com/image/BUSINESS/new-images/Book.jpg');
            font-size: 0.9rem; 
            background-color: #f7f7f7; 
        }
        .container {
            max-width: 600px; 
            background-color: #ffffff; 
            border-radius: 10px; 
            padding: 2rem; 
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
        }
        .login-link {
            margin-bottom: 1rem;
        }
        .form-group label {
            font-weight: bold; 
        }
        .btn-primary {
            background-color: #5cb85c; 
            border-color: #5cb85c; 
        }
        .btn-primary:hover {
            background-color: #4cae4c; 
            border-color: #4cae4c; 
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center mb-4">Request A Book</h2>
    <form action="/request" method="post">
        <div class="form-group">
            <label for="title">Book Title:</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <button type="request" class="btn btn-primary btn-block">Request</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>